
# CORE DOMAIN DEPLOY INTERFACE
DOMAIN="home2500.local"
INTERNAL_DOMAIN="app-network"

#HOST_NETWORK_INTERFACE="enp4s0"
HOST_NETWORK_IP="192.168.1.67"
ENABLE_IPV6="false"
PUBLIC_SERVICES_LIST="traefik vault auth whoami mailcrab pihole backup fotos"

# CORE AUTHENTIK USER ADMIN
AUTHENTIK_ADMIN_USER="akadmin"

# VAULT
VAULT_PKI_CN=home2500.local
VAULT_ROOT_CA_NAME=root-home2500
VAULT_SKIP_VERIFY=true

# SEC PROVIDER
SECRET_PROVIDERS="mem vault keepass"

# USER LOCK
KP_DB="/home/$USER/Documents/home2500.kdbx"
KP_KEY="/media/$USER/KPKEY/home2500.key"
KP_OPEN_POLICY=create