* copy.*
.bun
*.pid
acme.json
session-ses_*.md
~*
*~
.env

secrets*

# ignore all virtual envs generater by devops/tools/podman-install.sh
.Devops*

# DEVOPS CORE containers - pihole,vault,authentik,traefik
vault/config/certs/*.key
pihole/etc-pihole/*
!pihole/etc-pihole/pihole.toml
!pihole/etc-pihole/hosts/

### AUTHENTIK
authentik/blueprints/*
!authentik/blueprints/core-home2500*.yaml

# backup
backup/config/*


#traefik
traefik/traefik/certs/*.key
#traefik/traefik/certs/*
# except
!traefik/traefik/config/*
!traefik/traefik/traefik.yml

# OPENCODE agent
opencode/workspace/*
opencode/share/*

# FILES ocis
files/data/**/*
files/config/ocis.yaml
ocis.yaml


