* copy.*
.bun
*.pid
acme.json
session-ses_*.md
~*
*~
.env



# DEVOPS CORE containers - pihole,vault,authentik,traefik
vault/config/certs/*.key
pihole/etc*/*
!pihole/etc-pihole/pihole.toml


# backup
backup/config/*



#traefik
traefik/traefik/certs/*.key
traefik/traefik/certs/*
# except
!traefik/traefik/config/*
!traefik/traefik/traefik.yml

