# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/**/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.key

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.secret*
.fingerprint


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# never 
*.zip
devops/_*.sh

# More
~*
*~
.env*
# except
!.env.*template
!.env.*example


.jest-*
/docs
.vscode
/public/test*.html
*.snap


# DEVOPS CORE containers - pihole,step-ca,openldap,authelia,traefik
devops/vault/data*
devops/pihole/etc*
devops/step-ca/step*
devops/openldap/ldap/*
# authelia home2500.local
devops/authelia/authelia/
devops/authelia/data/authelia/config/authelia_notifications
devops/authelia/data/postgres/
devops/authelia/secrets
devops/authelia/ldap*
#traefik
devops/traefik/traefik/certs/*
# except
!devops/traefik/traefik/config/*
!devops/traefik/traefik/traefik.yml


##### the stack not exposed
devops/stack/kuma/uptime*
devops/stack/hedgedoc
devops/stack/iredmail
devops/stack/nginx
devops/stack/winboat/*
*_Backup_*
/secrets/*