
# ============================================
# Step CA Configuration
# ============================================
CA_NAME='Home2500 Local CA'
HOST_NAME=step-ca
CA_DNS_NAMES=step-ca,localhost,127.0.0.1,home2500.local
CA_ADDRESS=:8443
CA_PROVISIONER=acme
CA_INIT_ACME=true 
CA_INIT_REMOTE_MANAGEMENT=true
CA_INIT_SSH=true
CA_PASSWORD=YOUR_PASSWORD
CA_FINGERPRINT=A7C5BC2415D5EB92EE00D1DBD9C40422C4FBD89E53A4B8A0761C482D5B3EC045