# the WEB UI password
WEBPASSWORD=some_secure_password
TZ='Europe/Lisbon'

VIRTUAL_PORT=80
TZ=UTC
ServerIP=127.0.0.1
VIRTUAL_HOST=home2500.local
PROXY_LOCATION=home2500.local
SERVICE_PATH=/pihole/
REV_SERVER=false
PIHOLE_DNS_=8.8.8.8;1.1.1.1  # Use external DNS

#] Setting up user & group for the pihole user
PIHOLE_UID=1000
PIHOLE_GID=1000

