services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    ports:
      - "53:53/tcp" # DNS
      - "53:53/udp"
      - "80:80/tcp" # Admin UI
    env_file:
      - .env

    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      - NET_ADMIN
    networks:
      app-network:
    restart: always

networks:
  app-network:
    external: true
